<% provide(:title, 'About') %>
<h1>About</h1>
<p>Your Own Twitter was made as a simple project by Pradhan George Amadala as a way to showcase his skills.</p>
<p>You can create an account by signing up and test your own twitter.</p>